.input {
  padding: 1rem;
  width: 100%;
  border: 0.5px solid var(--gray);
  border-radius: 0.5rem;
  font-size: 2rem;
  background-color: transparent;
  transition: all 0.2s ease-in-out;

  &::placeholder {
    color: var(--secondary-text-color);
    line-height: 1.175;
  }

  &:hover,
  &:focus,
  &:focus-visible,
  &:active {
    border-color: var(--primary-color);
  }
}
