.section {
  gap: 2.8rem;
  margin-bottom: 2.8rem;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 4rem;
      line-height: 1.175;
      font-weight: 700;
    }
  }
}
