.stack-list {
  grid-area: stack;
  display: flex;
  gap: 1.6rem;

  li {
    padding: 1rem;
    min-width: 9rem;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    line-height: 1.15;
    text-align: center;
    background-color: var(--secondary-background-color);
  }

  @media (max-width: 640px) {
    gap: 1.2rem;

    li {
      min-width: 7rem;
      font-size: 1.4rem;
    }
  }

  @media (max-width: 360px) {
    gap: 0.8rem;

    li {
      font-size: 1.2rem;
    }
  }
}
