.btn {
  padding: 1.2rem;
  width: 100%;
  border: none;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  line-height: 1.3;
  font-weight: 600;
  letter-spacing: 2%;
  color: var(--alternative-text-color);
  background-color: var(--btn-bg-color);
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--btn-hover-bg-color);
  }

  @media (max-width: 640px) {
    font-size: 1.6rem;
  }

  @media (max-width: 480px) {
    padding: 1rem;
    border-radius: 0.4rem;
    font-size: 1.4rem;
  }

  @media (max-width: 360px) {
    padding: 0.6rem;
    font-size: 1.2rem;
  }
}
