.main-info {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  line-height: 1.15;

  h2 {
    font-size: 3.2rem;
    font-weight: 600;
  }

  dl {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 2.4rem 4.4rem;
    font-size: 2.4rem;

    dt {
      font-weight: 500;

      &::after {
        content: ':';
      }
    }
  }
}
