.dropdown {
  position: relative;

  .title {
    display: flex;
    gap: 1.2rem;
    align-items: center;
    width: 100%;
    font-size: 2rem;
    line-height: 1.15;
    cursor: pointer;
    transition: color 0.1s ease-in-out;

    svg {
      width: 20px;
      height: 9px;
      transition: transform 0.3s ease-in-out;
    }

    &:hover {
      color: var(--primary-color);
    }

    @media (max-width: 640px) {
      font-size: 1.6rem;
    }

    @media (max-width: 480px) {
      gap: 0.8rem;
      font-size: 1.4rem;

      svg {
        width: 10px;
        height: 5px;
      }
    }

    @media (max-width: 360px) {
      font-size: 1.2rem;
    }
  }

  .opened {
    color: var(--primary-color);

    svg {
      transform: rotate(180deg);
    }
  }

  .options {
    position: absolute;
    right: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: 2rem;
    max-width: max-content;
    border-top: 1px solid var(--primary-color);
    font-size: 1.6rem;
    line-height: 1.15;
    background-color: var(--primary-background-color);
    box-shadow: 0px 4px 4px 0px rgba(#000, 0.25);

    label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 3.6rem;

      span {
        white-space: nowrap;
      }
    }

    @media (max-width: 996px) {
      right: auto;
      left: 0;
    }

    @media (max-width: 480px) {
      gap: 1.2rem;
      font-size: 1.4rem;
    }

    @media (max-width: 360px) {
      font-size: 1.2rem;
    }
  }
}
