@import './reset.css';

:root {
  font-family: Raleway, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* base colors */
  --white: #fff;
  --black: #292929;
  --blue: #155da4;
  --blue-rgb: 21, 93, 164;
  --dark-gray: #3e3e3e;
  --gray: #b0b0b0;
  --light-gray: #f2f2f2;
  --lightest-gray: #f5f5f5;

  /* semantic colors */
  --primary-color: var(--blue);

  --primary-text-color: var(--black);
  --secondary-text-color: var(--gray);
  --alternative-text-color: var(--white);

  --primary-background-color: var(--white);
  --secondary-background-color: var(--light-gray);

  --btn-bg-color: var(--primary-color);

  --header-shadow-color: rgba(var(--blue-rgb), 0.25);
}

html {
  font-size: 62.5%;
}

html[data-theme='light'] {
  --primary-text-color: var(--black);
  --secondary-text-color: var(--gray);
  --alternative-text-color: var(--white);

  --primary-background-color: var(--white);
  --secondary-background-color: var(--light-gray);

  --btn-bg-color: var(--primary-color);

  --header-shadow-color: rgba(var(--blue-rgb), 0.25);
}

html[data-theme='dark'] {
  --primary-text-color: var(--lightest-gray);

  --primary-background-color: var(--black);
  --secondary-background-color: var(--dark-gray);

  --header-shadow-color: rgba(0, 0, 0, 0.1);
}

#root {
  width: 100vw;
  height: 100vh;
}

a {
  font-size: 1.8rem;
  line-height: 1.17;
  color: inherit;
  text-decoration: none;
  transition: color 0.15s ease-in-out;

  &:hover {
    color: var(--primary-color);
  }
}

body {
  box-sizing: border-box;
  display: flex;
  place-items: center;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-text-color: var(--lightest-gray);

    --primary-background-color: var(--black);
    --secondary-background-color: var(--dark-gray);

    --header-shadow-color: rgba(0, 0, 0, 0.1);
  }
}
