.selected-filters__controller-item {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  min-width: max-content;
  border-radius: 0.5rem;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  transition: all 0.2s ease-in-out;

  span {
    font-size: 1.6rem;
  }

  &:hover {
    color: var(--primary-color);
  }
}
