.selected-filters__controller-item {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  min-width: max-content;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  transition: all 0.2s ease-in-out;

  &:hover {
    color: var(--primary-color);
    background-color: var(--primary-background-color);
  }

  @media (max-width: 480px) {
    font-size: 1.4rem;
  }

  @media (max-width: 360px) {
    font-size: 1.2rem;
  }
}
